$colorLight: #c0fefc;
$colorhover: rgb(255, 136, 0);
$colorbackbotton: #11cca3;
$colorBleu: #2b9ead;
$colorBleuLight: #11cca3;
$font-family: "Krona One", sans-serif;
$shadow: 1px 1px 2px rgb(255, 255, 255);
$colorDark:black;