@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');
@mixin box-style {
  border-radius: .5rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  padding:1rem;
  
  text-align: center;
  background:#fff;
  border:.1rem solid rgba(0,0,0,.1);
  width:33rem;
}
@mixin img-style{
  margin:1rem;
  border-radius: 50%;
  height:20rem;
  width:20rem;
  object-fit: cover;
}
  .continner{
    
  

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50%  1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "forms-contact img-contact"
    "box-bila box-abden";
    .forms-contact { 
      grid-area: forms-contact;
      align-self: center;
      justify-self: center;
        form{
              .input-group{
                font-family: 'Noto Sans KR', sans-serif;
                line-height: 40px;
                   input{
                       outline: none;
                        border: none;
                        border-bottom: 1px black solid;
                        width: 300px;
                        
                   }
                   textarea{
                    outline: none;
                    border: none;
                    border-bottom: 1px black solid;
                    width: 300px;
                   }
                   #submit-form{
                     border:none;
                     width: 200px;
                     height: 30px;
                     transform: translateX(50px);
                     color: rgb(255, 255, 255);
                     background-color: rgb(52, 235, 248);
                     border-radius: 10px;
                     transition: all 400ms ease;
                     
                   }
                   #submit-form:hover{
                           background-color: rgb(222, 245, 20);
                           color: black
                           
                   }
                   .box-alert{
                        text-align: center;
                        background-color: brown;
                        border-radius: 20px;
                        margin-top: 5px;
                        display: none;
                   }
              }
        }
     }

.img-contact { grid-area: img-contact; 
        align-self: center;
        justify-self: center;
        max-width: 100%;
        img{
          max-width: 100%;
          transform: translateY(40px);
        }
}

.box-bila { 
  grid-area: box-bila; 
             align-self: flex-start;
             justify-self: center;
              
                @include box-style;
         img{
               @include img-style;
         }
         h3{
          font-size: 2rem;
          text-transform: uppercase;
          font-family: 'Dosis', sans-serif;
          padding: 0px;
          margin: 5px 0 5px 0;
        }
        span{
          font-size: 1.5rem;
          font-family:cursive ;
           text-transform: uppercase;
        }
        .share{
         border-top: .1rem solid rgba(0,0,0,.1);
         padding:1rem;
         margin-top: 1rem;
             a{
               border-radius: 50%;
               height: 4.5rem;
               width:4.5rem;
               line-height: 4.5rem;
               font-size: 2rem;
               margin: .4rem;
               transition: all 400ms ease;
                 &:hover{
                   color:rgb(221, 62, 62);
                   transform: rotate(360deg);
                 }
             }
        }

}

.box-abden {
   grid-area: box-abden;
  align-self: center;
  align-self: flex-start;
             @include box-style;
             img{
              @include img-style;
        }
         h3{
           font-size: 2rem;
           text-transform: uppercase;
          font-family: 'Dosis', sans-serif;
          padding: 0px;
          margin: 5px 0 5px 0;
         }
         span{
           font-size: 1.5rem;
           font-family:cursive ;
           text-transform: uppercase;
         }
         .share{
          border-top: .1rem solid rgba(0,0,0,.1);
          padding:1rem;
          margin-top: 1rem;
              a{
                border-radius: 50%;
                height: 4.5rem;
                width:4.5rem;
                line-height: 4.5rem;
                font-size: 2rem;
                margin: .4rem;
                transition: all 400ms ease-in;
                  &:hover{
                  
                    transform: rotate(360deg);
                    color:rgb(221, 62, 62);
                   
                  }
              }
         }
 }
}
}
@media (max-width:1144px){
  .continner{
  .container {
    
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(4,0.5fr); 
    gap: 0px 0px; 
    grid-template-areas: 
      "img-contact"
      "forms-contact"
      "box-bila"
      "box-abden"; 
       .box-abden{
        grid-area: box-abden;
        justify-self: center;
       }
     
  }
}
}
@media (max-width:585px){
   .continner{
       .container{
        .container{
          > div{
            width: 15px;
            img{
              width: 150px;
              height: 150px;
            }
          }
      }
}
}
}
@media (max-width:375px){
.continner{
  .container{
        > div{
          width: 15px;
        }
  
 }
}
}
