@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader&display=swap');
.section2 .big-picture {
  height: 100vh;
  background-color: #1383af;
}

.section2 .big-picture img {
  height: 100vh;
  width: 100%;
  position: relative;
  opacity: 0.4;
}

.section2 .big-picture h1 {
  position: absolute;
  top: 50%;
  left: 35%;
  font-size: 3rem;
  font-family: "Krona One", sans-serif;
}

.section2 .big-picture p {
  position: absolute;
  top: 40%;
  left: 34%;
  text-shadow: 2px 2px 0.5px black;
  color: white;
  font-family: "Krona One", sans-serif;
  font-size: 1rem;
}
.abs{
  display: flex;
}
.contact .row{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact .row form{
  flex:1 1 40rem;
  background: var(--primary-bg-color);
  padding: 2rem;
  margin:1rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border-radius: .5rem;
}







.contact .row form .inputBox{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact .row form input, .contact .row form textarea{
  padding:1rem 0;
  margin:1rem 0;
  font-size: 1.7rem;
  border-bottom: .1rem solid var(--secondary-text-color);
  text-transform: none;
  background:none;
  color:var(--main-color);
  width: 100%;
}

.contact .row form input::placeholder, .contact .row form textarea::placeholder{
  text-transform: capitalize;
  color:var(--secondary-text-color);
}

.contact .row form input:focus, .contact .row form textarea:focus{
  border-color: var(--main-color);
}

.contact .row form .inputBox input{
  width:49%;
}

.contact .row form textarea{
  height: 15rem;
  resize: none;
}

.contact .row form .btn{
  cursor: pointer;
}

.contact .box-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.contact .box-container .box{
  flex:1 1 30rem;
  margin:1rem;
  padding:3rem 1rem;
  background:var(--primary-bg-color);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border-radius: .5rem;
  text-align: center;
}

.contact .box-container .box i{
  height: 6rem;
  width:6rem;
  line-height: 6rem;
  border-radius: 50%;
  font-size: 3rem;
  background:var(--secondary-bg-color);
  color:var(--main-color);
}

.contact .box-container .box h3{
  color:var(--primary-text-color);
  padding:1rem 0;
  font-size: 2rem;
}

.contact .box-container .box p{
  font-size: 1.5rem;
  color:var(--secondary-text-color);
}


.doctor .box-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.doctor .box-container .box{
  border-radius: .5rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  padding:1rem;
  margin:1.5rem;
  text-align: center;
  background:#fff;
  border:.1rem solid rgba(0,0,0,.1);
  width:33rem;
}

.doctor .box-container .box img{
  margin:1rem;
  border-radius: 50%;
  height:20rem;
  width:20rem;
  object-fit: cover;
  background:var(--blue);
}

.doctor .box-container .box h3{
  font-size: 2rem;
  font-family: 'Newsreader', serif;
  color:var(--blue);
}

.doctor .box-container .box span{
  font-size: 1.5rem;
  color:var(--dark-blue);
}

.doctor .box-container .box .share{
  border-top: .1rem solid rgba(0,0,0,.1);
  padding:1rem;
  margin-top: 1rem;
}

.doctor .box-container .box .share a{
  border-radius: 50%;
  height: 4.5rem;
  width:4.5rem;
  line-height: 4.5rem;
  font-size: 1.5rem;
  margin: .5rem;
  background:#eee;
  color:var(--blue);
  transition: all 0.2s ease;
}

.doctor .box-container .box .share a:hover{
   color:#1383af;
}
.footer{
  text-align:center ;
  font-family: 'Roboto Slab', serif;
}