.continner .content-cours {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.continner .content-cours #secondYear > p {
  background-color: #15b457;
  padding: 40px 30px;
  text-align: center;
  font-family: "Krona One", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.continner .content-cours .semButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.continner .content-cours .semButton a {
  text-decoration: none;
  padding: 7px 15px;
  margin: 5px;
  margin-top: 30px;
  background-color: #3b5f17;
  color: beige;
  border-radius: 10px;
  border-bottom-left-radius: 40px;
  font-family: monospace;
  font-size: 24px;
  font-weight: bold;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.continner .content-cours .semButton a:hover {
  background-color: #ffc400;
  padding: 7px 30px;
  -webkit-padding-end: 30px;
          padding-inline-end: 30px;
  color: #242525;
}

.continner .content-cours .semButton #secondyear {
  border-radius: 10px;
  border-top-right-radius: 40px;
}

.continner .content-cours .module {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.continner .content-cours .module .paragraph {
  background-color: chartreuse;
  border-radius: 20px;
  padding-bottom: 5px;
  font-weight: bolder;
  font-size: 18px;
  font-family: cursive;
}

.continner .content-cours .module .paragraph .nomModule {
  padding: 10px;
  background-color: #2b9ead;
  border-radius: 20px;
  font-family: monospace;
  font-size: 24px;
  font-weight: bold;
}

.continner .content-cours .module .cours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
}

.continner .content-cours .module .cours .cour {
  width: 200px;
  margin: 10px;
  background-color: #d9fafa;
  padding: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 5px black;
          box-shadow: 1px 1px 5px black;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.continner .content-cours .module .cours .cour a {
  text-decoration: none;
  color: #353030;
  background-color: chartreuse;
  border-radius: 10px;
  padding: 7px 12px;
  font-weight: bold;
  position: relative;
  top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.continner .content-cours .module .cours .cour a:hover {
  color: black;
  background-color: #ffe600;
}

.continner .content-cours .module .cours .cour .imgcours {
  width: 150px;
  height: auto;
}

.continner .content-cours .module .cours .cour span {
  position: absolute;
  top: 10px;
  right: 5px;
  background-color: chartreuse;
  padding: 10px;
  border-radius: 50%;
}
/*# sourceMappingURL=cours.css.map */