@import './variables';
 body{
  height: 80vh;
  background-color: aquamarine;
  
 }
#section_home{
 
  display: flex;
  flex-direction: column;
  .container{
    height: 70vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
     .picture{
       align-self: center;
       justify-self: center;
       position: relative;
       top: 30px;
       img{
         max-width: 100%;
       }
     }
     .descr{
      align-self: center;
      justify-self: center;
        h3{
          font-family: $font-family;
        font-weight: bold;
        text-shadow: $shadow;
        text-align: center;
        text-transform: uppercase;
        }
      p{
        font-weight: bold;
        font-family: $font-family;
        font-size: 15px;
        text-align: center;
        text-shadow: $shadow;
      }
     }
     
}
.descr{
  align-self: center;
  justify-self: center;
    h3{
      font-family: $font-family;
    font-weight: bold;
    text-shadow: $shadow;
    text-align: center;
    text-transform: uppercase;
    }
  p{
    font-weight: bold;
    font-family: $font-family;
    font-size: 15px;
    text-align: center;
    text-shadow: $shadow;
  }
  }
  .buttons{
    justify-self: center;
    align-self: center;
    a {
      text-decoration: none;
      color: $colorDark;
      padding: 10px 30px;
      margin: 3px;
      border-bottom-right-radius: 20px;
      border-top-left-radius: 20px;
      background-color: $colorBleuLight;
      font-family: $font-family;
    }
    a:hover {
      background-color: rgb(255, 136, 0);
      transition: all ease-in-out 0.2s;
      color: white;
    }
  }
}

