@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
body {
  margin: 0%;
  padding: 0%;
}
header{
  height: 90px;
  background: white;
}

.inner-width{
  max-width: 1000px;
  padding: 0 10px;
  margin: auto;
}

.logo{
  float: left;
  padding-top:30px;
  
}

.logo i{
  font-size: 30px;
  color: #feca57;
}

.navigation-menu{
  float: right;
  display: flex;
  align-items: center;
  min-height: 90px;
  
}

.navigation-menu a{
  margin-left: 10px;
  color: #2ea8d9;
  text-transform: uppercase;
  font-size: 14px;
  padding: 12px 20px;
  border-radius: 4px;
  transition: .3s linear;
  text-decoration: none;
  font-weight: bold;
  font-family: monospace;
}

.navigation-menu a:hover{
  background: rgb(237, 253, 12);
  color: #ffffff;
  transform: scale(1.1);
}

.navigation-menu i{
  margin-right: 8px;
  font-size: 16px;
}

.home{
  color: #ff6b6b;
}

.cours{
  color: #0abde3 ;
}

.tptd{
  color: #feca57;
}

.logi{
  color: #5f27cd;
}

.contact{
  color: #1dd1a1;
}

.menu-toggle-btn{
  float: right;
  height: 90px;
  line-height: 90px !important;
  color: black;
  font-size: 26px;
  display: none !important;
  cursor: pointer;
}


@media screen and (max-width:700px) {
  .menu-toggle-btn{
    display: block !important;
  }

  .navigation-menu{
    position: fixed;
    width: 100%;
    max-width: 400px;
    background: #172b4d;
    top: 90px;
    right: 0;
    display: none;
    padding: 20px 40px;
    box-sizing: border-box;
  }

  .navigation-menu::before{
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #172b4d;
    position: absolute;
    top: -10px;
    right: 10px;
  }

  .navigation-menu a{
    display: block;
    margin: 10px 0;
  }

  .navigation-menu.active{
    display: block;
  }
}

